.App{
  min-height: 100vh;
  background-color: burlywood;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button{
  background: lightsalmon;
  border: none;
  padding: 10px 20px;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}